@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="text-center my-5">
        <h1 class="display-4">Seja bem vindo à melhor loja de tênis do Brasil!</h1>
    </div>
    <div style="text-align:center">
        <video autoplay>
            <source width="700" height="500" src="~/vd/Comercial da Nike 3D  em Tokyo- Japão.mp4">
        </video>
    </div>
    <div>
        <div style="display:flex; flex-direction:row; justify-content:space-around" class="my-5">
            <div class="text-center">
                <a asp-controller="Produtos" asp-action="Index" style="text-decoration: none">
                    <img src="~/img/jordan4.jpg" alt="Casuais" style="width:500px;height:500px;">
                    <h3 class="text-black">Casuais</h3>
                </a>
            </div>

            <div class="text-center">
                <a asp-controller="Produtos" asp-action="Index" style="text-decoration: none">
                    <img src="~/img/chuteira.jpg" alt="Chuteiras" style="width:500px;height:500px;">
                    <h3 class="text-black">Chuteiras</h3>
                </a>
            </div>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:space-around">
            <div class="text-center">
                <a asp-controller="Produtos" asp-action="Index" style="text-decoration: none">
                    <img src="~/img/basquete.jpg" alt="Basquete" style="width:500px;height:500px;">
                    <h3 class="text-black">Basquete</h3>
                </a>
            </div>

            <div class="text-center">
                <a asp-controller="Produtos" asp-action="Index" class="text-decoration-none">
                    <img src="~/img/nikeDiaADia.jpg" alt="Dia a dia" style="width:500px;height:500px;">
                    <h3 class="text-black">Dia a dia</h3>
                </a>
            </div>
        </div>
    </div>
</div>